{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "insertFinalLine": true
}
