.good-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 20px
}

.image-container > img {
    width: 150px;
    height: 150px;
}

.good-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
    width: 300px;
}

.good-quantity-choose {
    font-size: 20px;
    height: 25px;
    width: 160px;
    padding: 5px 0 5px 0;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.good-item-title {
    text-align: start;
    margin-left: -10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.good-item-price {
    margin-left: -10px;
}

.good-quantity-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.increase-button, .decrease-button {
    width: 40px;
    height: 36px;
    font-size: 24px;
    color: black;
    margin-top: 10px;
    border-radius: 7px;
    padding: 1px;
    border: 1px solid lightgrey;
}

.increase-button:hover, .decrease-button:hover {
    border: 1px solid grey;
}

.remove-button {
    font-size: 16px;
    color: red;
    padding-left: 350px;
    padding-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.subtotal-price {
    margin-top: 15px;
}

