.history-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    width: 170vh;
    height: auto;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 1vw;
    padding: 20px 20px 0 20px;
}

.history-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.history-total-price {
    width: 250px;
    font-size: 24px;
    font-weight: 700;
    color: #ababab;
}

.order-items {
    display: flex;
    flex-direction: row;
    word-break: break-all;
    border-right: none !important;
    height: 50px;
}
