.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    min-width: 300px;
    height: 80vh;
    padding: 20px;
    border-radius: 7px;
}

.history-header {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-right: 1px solid lightgrey;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1vw;
}

.contact-label {
    text-align: start;
    align-items: start;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px;
    line-height: 1px;
    display: flex;
    flex-direction: column;
}

.history-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    height: 80vh;
    padding: 20px;
    border-radius: 7px;
    overflow-y: auto;
}

.history-submit-form {
    display: flex;
    flex-direction: column;
}