.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 22px;
}

.link-to-page {
    margin: 10px;
    padding: 20px 40px 20px 20px;
    cursor: pointer;
    text-decoration: none;
    color: dimgray;
}

.vertical-right-border {
    border-right: 1px solid lightgrey;
}

.link-to-page:hover {
    color: dodgerblue;
}
