.home-page, button, .app, input {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  width: auto;
  height: 100vh;
  background: white;
  margin: 0 10px 0 10px;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}
