.shop-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 230px;
    height: 80px;
    margin: 10px 20px ;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    border: 1px solid lightgrey;
    position: relative
}

.shop-card:hover {
    border: 1px solid gray;
}

.shop-logo {
    width: 40px;
    height: 40px;
}
